@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}


:root {
    --primary-color: #ff553e;
    --secondry-color: #333;
    --white-color: #fff;
    --text-color: #9e9999;
    --black-color: #000;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    font-weight: 400;
}


/* =============================
      scrollbar
=============================*/

::-webkit-scrollbar {
    width: 0.3125rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}


/* =============================
      custom css
=============================*/

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--white-color);
    text-transform: uppercase;
}


h2 {
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: var(--white-color);
    text-transform: capitalize;
}

h4 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: var(--white-color);
    text-transform: capitalize;
    margin-bottom: 0.9375rem;
    transition: all .3s linear;
}

h5 {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--white-color);
    text-transform: capitalize;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--white-color);
    letter-spacing: 0.0625rem;
    opacity: 0.8;
}

.main-btn {
    height: 40px;
    line-height: 40px;
    font-size: 1.125rem;
    display: inline-block;
    color: var(--white-color) !important;
    background: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 30px;
    position: relative;
    border-radius: 20px;
    transition: all .5s ease-out 0s;
}



.main-btn:hover {
    color: var(--primary-color);
}

.wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--secondry-color);
}

.text-content {
    width: 60%;
    margin: auto;
}


/* 1_header */

.top-header {
    background-color: var(--secondry-color);
}

.top-header span {
    font-size: 0.875rem;
    color: var(--white-color);
    letter-spacing: 0.1062rem;
}

.navigation-wrap {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
    padding: 0 0.5rem;
    transition: all 0.3s linear;
}

.navbar-toggler:focus {
    outline: unset;
    border: none;
    box-shadow: none;
}

.navigation-wrap .nav-link {
    padding-top: 0.9375rem;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white-color);
    letter-spacing: 0.0625rem;
}

.navigation-wrap .nav-link:hover,
.navigation-wrap .nav-link.active {
    color: var(--primary-color);
}

/* ==========================scroll ====================== */

.navigation-wrap.scroll-on {
    position: fixed;
    background-color: var(--black-color) !important;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .15s ease-in-out 0s;
    box-shadow: 0 0.125rem 1.75rem 1 rab(0, 0, 0, 0.09);
}

.navigation-wrap.scroll-on .nav-link:hover,
.navigation-wrap.scroll-on .nav-link.active {
    color: var(--primary-color) !important;
}


/* 2_top-banner */

#home .carousel-caption {
    top: 12rem;
}

#home .carousel-caption p {
    max-width: 20.25rem;
    margin: 1.0625rem auto;
}



/* 3_new-arrivals */





/* 4_project */



/* 5_choose */


/* 6_style */


/* 7_footer */